@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #ececec;
  font-family: "Roboto", sans-serif;
  min-width: 375px; }

.container-principal {
  width: 100%;
  padding: 40px 4%;
  padding-bottom: 60px; }

.titre-section {
  margin-bottom: 30px; }

header {
  background-color: #f9f9f9;
  height: 75px;
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  box-shadow: 0px 3px 5px #3131313f;
  z-index: 100; }
  header img {
    margin-top: 15px;
    width: 200px; }

footer {
  width: 100%;
  background-color: #363636;
  box-sizing: content-box; }

.footer__container {
  padding: 20px; }
  .footer__container h4 {
    color: #fff;
    font-weight: 100;
    font-size: 17px;
    font-family: "Shrikhand", cursive; }
  .footer__container ul {
    margin-top: 15px;
    list-style: none; }
    .footer__container ul i {
      color: #fff;
      font-size: 13px;
      width: 20px;
      padding: 0;
      margin: 0; }
    .footer__container ul li {
      margin: 6px 0; }
    .footer__container ul a {
      color: #fff;
      text-decoration: none;
      font-size: 15px; }

@media screen and (min-width: 775px) and (max-width: 1280px) {
  .footer__container {
    padding: 20px 50px; } }
@media screen and (min-width: 1280px) {
  .footer__container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around; } }
h2 {
  user-select: none; }

.page__content {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  animation: displayPage 400ms ease forwards 2s; }

.spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: #FF79DA;
  border-right-color: #FF79DA;
  position: fixed;
  top: calc(50% - 50px);
  right: calc(50% - 50px);
  animation: spinnerRotation 1s linear infinite, hideSpinner 400ms linear forwards 2s; }

@keyframes spinnerRotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes displayPage {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }
@keyframes hideSpinner {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.position {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #444444; }
  .position i {
    color: #444444;
    font-size: 18px; }
  .position p {
    font-size: 19px;
    font-weight: 500;
    margin-left: 18px;
    margin-right: 18px; }

.explorer {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 310px;
  padding: 20px 0; }
  .explorer h2 {
    margin-bottom: 15px; }
  .explorer p {
    font-size: 18px;
    margin: 5px 0;
    color: #444444;
    font-weight: 300; }
  .explorer .btn {
    margin-top: 30px; }

.fonctionnement {
  background-color: #f9f9f9; }
  .fonctionnement__list {
    height: 300px; }
  .fonctionnement .card-fonctionnement {
    height: 75px;
    margin-left: calc(5% - 10px); }

.restaurants .cards-container {
  width: 100%;
  height: 100%; }
.restaurants .card-image {
  height: 225px;
  margin-top: 20px;
  margin-bottom: 15px; }

/* ------------------------------ */
/* ---------- TABLETTE ---------- */
/* ------------------------------ */
@media screen and (min-width: 775px) and (max-width: 1280px) {
  .fonctionnement {
    padding-top: 25px;
    padding-bottom: 10px;
    height: 200px; }
    .fonctionnement h2 {
      margin: 0; }
    .fonctionnement__list {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      height: 75px; }
    .fonctionnement .card-fonctionnement {
      width: calc((100% - 30px) / 3);
      height: 75px; }

  .restaurants .cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .restaurants .card-image {
    width: calc((100% - 30px) / 2);
    height: 225px;
    margin-top: 20px;
    margin-bottom: 15px; } }
/* ------------------------------ */
/* ---------- DESKTOP ---------- */
/* ------------------------------ */
@media screen and (min-width: 1280px) {
  .explorer {
    font-size: 1em;
    height: auto;
    padding: 20px 0;
    padding-bottom: 30px; }
    .explorer h2 {
      margin-bottom: 2px; }
      .explorer h2 br {
        display: none; }
    .explorer p {
      font-size: .9em;
      color: #444444; }
      .explorer p br {
        display: none; }

  .fonctionnement {
    padding-top: 25px;
    padding-bottom: 10px;
    height: 200px; }
    .fonctionnement h2 {
      margin: 0; }
    .fonctionnement__list {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      height: 75px; }
    .fonctionnement .card-fonctionnement {
      width: calc((100% - 50px) / 3);
      height: 75px; }

  .restaurants .cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .restaurants .card-image {
    width: calc((100% - 50px) / 4);
    height: 225px;
    margin-top: 20px;
    margin-bottom: 15px; } }
.header-arrow {
  position: absolute;
  left: 20px;
  top: 25px;
  font-size: 23px;
  color: #444444; }

.miniature {
  width: 100%;
  height: 300px;
  position: relative;
  padding: 0; }
  .miniature__image {
    overflow: hidden; }
    .miniature__image img {
      object-fit: cover;
      width: 100%;
      height: 300px; }
  .miniature__titre {
    font-family: "Shrikhand", cursive;
    width: 100%;
    border-radius: 50px 50px 0 0;
    position: absolute;
    background-color: #f4f4f4;
    height: 75px;
    bottom: -2px; }
  .miniature__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px 5%;
    position: absolute;
    bottom: -10px;
    font-size: 20px; }
    .miniature__container i {
      margin-left: auto;
      margin-right: 15px;
      font-size: 25px; }

.menu {
  background: #f4f4f4;
  width: 100%;
  padding: 40px 5%;
  text-transform: uppercase;
  font-weight: 1;
  font-size: 17px; }
  .menu__titre {
    user-select: none;
    color: #797979;
    padding-bottom: 10px;
    font-weight: 400; }
    .menu__titre::before {
      content: "";
      position: absolute;
      left: 0;
      top: 25px;
      height: 1px;
      width: 40px;
      border-bottom: 3px solid #99E2D0; }
  .menu__card-block {
    position: relative;
    margin-top: 50px; }
    .menu__card-block:nth-child(1) {
      margin-top: 0px; }
  .menu__card-container {
    user-select: none; }
    .menu__card-container .card-menu:nth-child(1) {
      animation: fadeIn ease 1s 0.1s forwards; }
    .menu__card-container .card-menu:nth-child(2) {
      animation: fadeIn ease 1s 0.2s forwards; }
    .menu__card-container .card-menu:nth-child(3) {
      animation: fadeIn ease 1s 0.3s forwards; }
    .menu__card-container .card-menu:nth-child(4) {
      animation: fadeIn ease 1s 0.4s forwards; }
  .menu .btn {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 170px;
    text-transform: none;
    font-size: 13px; }

.card-menu {
  height: 65px; }

/* ---------------------------------------- */
/* ---------- TABLETTE + DESKTOP ---------- */
/* ---------------------------------------- */
@media screen and (min-width: 775px) {
  .menu__card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; } }
.btn {
  user-select: none;
  padding: 15px;
  width: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 100;
  box-shadow: 1px 4px 8px #c2c2c2; }
  .btn--round {
    border-radius: 50px; }
  .btn--purple {
    color: #fff;
    background: linear-gradient(#FF79DA, #9356DC); }
  .btn__text {
    font-weight: 400; }
  .btn:hover {
    cursor: pointer;
    background: linear-gradient(#ff93e1, #a16be0);
    box-shadow: 1px 4px 8px #a0a0a0; }

.icon--purple {
  background: -webkit-linear-gradient(#9356DC, #ff60d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

/* D├®faut */
.card {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 25px;
  box-shadow: 1px 4px 6px #ddd;
  border-radius: 15px; }

/* Index */
.card-fonctionnement {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 25px;
  box-shadow: 1px 4px 6px #ddd;
  border-radius: 15px;
  user-select: none;
  position: relative; }
  .card-fonctionnement__rowcontent {
    margin-right: 20px;
    justify-content: center;
    margin-left: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 25px; }
    .card-fonctionnement__rowcontent i {
      color: #797979;
      font-size: 1.2em;
      margin-right: 20px; }
    .card-fonctionnement__rowcontent h3 {
      font-size: 17px; }
  .card-fonctionnement__number {
    display: inline;
    position: absolute;
    left: -15px;
    color: #fff;
    font-size: 16px;
    padding: 4px 9px;
    background-color: #9356DC;
    border-radius: 50px; }
  .card-fonctionnement:hover {
    background-color: #f4eefc; }
    .card-fonctionnement:hover i {
      color: #9356DC; }

/* Crop */
.card-image {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 25px;
  box-shadow: 1px 4px 6px #ddd;
  border-radius: 15px;
  position: relative;
  user-select: none; }
  .card-image__container {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
  .card-image__crop {
    width: 100%;
    height: 75%;
    border-radius: 15px 15px 0 0;
    position: relative;
    overflow: hidden;
    box-sizing: border-box; }
    .card-image__crop img {
      object-fit: cover;
      position: absolute;
      width: 100%;
      height: 220px;
      bottom: 0px; }
    .card-image__crop .image--haute {
      max-height: 220px; }
  .card-image__info {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 12px;
    padding-right: 20px; }
    .card-image__info h4 {
      margin-bottom: 3px; }
    .card-image__info p {
      font-size: 14px;
      font-weight: 300; }
  .card-image:hover {
    background-color: #f4eefc;
    box-shadow: 1px 4px 6px #ccc; }
  .card-image:last-child {
    margin-bottom: 5px; }

/* Anim├® */
.card-menu {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 25px;
  box-shadow: 1px 4px 6px #ddd;
  border-radius: 15px;
  opacity: 0;
  overflow: hidden;
  text-transform: none;
  flex-direction: row;
  flex-wrap: nowrap; }
  .card-menu__gauche {
    padding: 12px;
    flex-grow: 1;
    width: 50%;
    align-self: center; }
    .card-menu__gauche h4 {
      font-size: 1.125em;
      white-space: nowrap; }
    .card-menu__gauche p {
      margin-top: 3px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 0.95em;
      font-weight: 300; }
  .card-menu__prix {
    flex-grow: .325;
    width: 20px;
    height: 100%;
    margin-right: 10px;
    padding: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: #444444; }
    .card-menu__prix h4 {
      font-size: 0.8em;
      margin-top: 30px; }
  .card-menu__droite {
    position: relative;
    background-color: #99E2D0;
    flex-grow: 0;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms; }
    .card-menu__droite i {
      color: #fff;
      font-size: 1.35em;
      position: absolute; }
  .card-menu:hover {
    cursor: pointer; }
  .card-menu:hover > .card-menu__droite {
    flex-grow: 0.7; }
  .card-menu:hover > .card-menu__droite i {
    animation: rotateCheckBoxIn linear 300ms; }

@keyframes fadeIn {
  0% {
    transform: translateY(50px);
    opacity: 0; }
  100% {
    transform: translate(0px);
    opacity: 1; } }
@keyframes rotateCheckBoxIn {
  0% {
    transform: rotate(-180deg); }
  100% {
    transform: rotate(0deg); } }
/* ------------------------------ */
/* ---------- TABLETTE ---------- */
/* ------------------------------ */
@media screen and (min-width: 775px) and (max-width: 1280px) {
  .card-fonctionnement {
    margin-left: calc(5% - 10px); }
    .card-fonctionnement h3 {
      font-size: 1.4vw; }

  .card-menu {
    width: calc((100% - 40px) / 2); } }
/* ------------------------------ */
/* ---------- DESKTOP ---------- */
/* ------------------------------ */
@media screen and (min-width: 1280px) {
  .card-fonctionnement {
    margin-left: calc(5% - 10px);
    justify-content: center; }
    .card-fonctionnement__rowcontent {
      padding-left: 0px; }
    .card-fonctionnement h3 {
      font-size: 1em; }

  .card-menu {
    width: calc((100% - 40px) / 3); } }
.image-label {
  position: absolute;
  z-index: 2;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
  width: 70px;
  height: 25px;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 8px #00000031;
  border-radius: 2px; }
  .image-label p {
    color: #278870;
    font-size: 12.5px;
    font-weight: 700; }

.heart {
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 10%;
  right: 5%; }
  .heart i {
    color: #000;
    font-size: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: color calc(200ms * 4); }
  .heart:hover > i {
    color: #fff;
    cursor: pointer; }
  .heart--menu {
    bottom: 17px;
    right: 8%; }
    .heart--menu i {
      color: #000;
      font-size: 26px; }
  .heart__fill-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    overflow: hidden;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-duration: 200ms; }
    .heart__fill-container:hover {
      animation-name: heartFill; }
  .heart__fill {
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .heart:hover > .heart__fill-container {
    animation: heartFill linear 300ms forwards;
    animation-direction: normal; }

@keyframes heartFill {
  0% {
    height: 0%; }
  100% {
    height: 100%; } }

/*# sourceMappingURL=style.css.map */
