.btn{
    padding: 10px;
    width: 225px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 100;

    &--round{
        border-radius: 50px;
    }

    &--purple{
        color: #fff;
        background: linear-gradient($couleur-secondaire, $couleur-primaire);
    }

    &__text{

    }
}