.btn{
    user-select: none;
    padding: 15px;
    width: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 100;
    box-shadow: 1px 4px 8px #c2c2c2;

    &--round{
        border-radius: 50px;
    }

    &--purple{
        color: #fff;
        background: linear-gradient($couleur-secondaire, $couleur-primaire);
    }

    &__text{
        font-weight: 400;
    }

    &:hover{
        cursor: pointer;
    }
}