.heart{
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 10%;
    right: 5%;

    & i{
        @include icon(#000, 25px);
        position: absolute;
        bottom: 0;
        left: 0;
        transition: color calc(#{$heart-speed} * 4);
    }

    &:hover > i{
        color: #fff;
        cursor: pointer;
    }

    &--menu{

        & i{
            @include icon(#000, 26px);
        }

        bottom: 17px;
        right: 8%;
    }

    &__fill-container{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0%;
        overflow: hidden;

        animation-fill-mode: forwards;
        animation-timing-function: linear;
        animation-duration: $heart-speed;

        &:hover{
            animation-name: heartFill;
        }
    }

    &__fill{
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient($couleur-primaire, $couleur-secondaire);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &:hover > .heart__fill-container{
        animation: heartFill linear 300ms forwards;
        animation-direction: normal;
    }
}

@keyframes heartFill {
    0%{
        height: 0%;
    }

    100%{
        height: 100%;
    }
}