*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    background-color: $fond-defaut;
    font-family: $font-defaut;
}

.container-principal{
    width: 100%;
    padding: 40px 4%;
    padding-bottom: 60px;
}

.titre-section{
    margin-bottom: 30px;
}