*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $fond-defaut;
    font-family: $font-defaut;
}

.container-principal{
    padding: 40px 20px;
    padding-bottom: 60px;
}

.titre-section{
    margin-bottom: 30px;
}