//Position, Ville
$marge-logo_texte: 18px;

.position{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $texte-secondaire;

    & i{
        font-size: 18px;
    }

    & p{
        font-size: 19px;
        font-weight: 500;
        margin-left: $marge-logo_texte;
        margin-right: $marge-logo_texte;
    }
}

//Explorer/Découvrez
.explorer{
    background-color: $fond-secondaire;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 230px;
    padding: 30px;
    padding-bottom: 50px;

    & h2{
        margin-bottom: 15px;
    }

    & p{
        font-size: 18px;
        margin: 5px 0;
        color: $texte-secondaire;
        font-weight: 300;
    }

    & .btn{
        margin-top: 30px;
    }
}

//Fonctionnement
$margin-fonctionnement_row: 20px;
.fonctionnement{
    background-color: $fond-tertiaire;
    padding: 40px 20px;
    padding-bottom: 60px;

    & h2{
        margin-bottom: 30px;
    }

    &__list{
        height: 300px;
    }

    & .card{
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-top: 25px;

        &__rowcontent{
            margin-right: $margin-fonctionnement_row;
            justify-content: center;
            margin-left: 4px;

            & i{
                color: $texte-tertiaire;
                font-size: 22px;
                margin-right: $margin-fonctionnement_row;
            }

            & h3{
                font-size: 17px;
            }
        }

        &__number{
            display: inline;
            position: relative;
            left: -15px;
            color: #fff;
            font-size: 16px;
            padding: 4px 9px;
            background-color: $couleur-primaire;
            border-radius: 50px;
        }
    }
}