//Position, Ville
$marge-logo_texte: 18px;

.position{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    & img{
        width: 20px;
    }

    & p{
        color: #444444;
        font-size: 19px;
        font-weight: 500;
        margin-left: $marge-logo_texte;
        margin-right: $marge-logo_texte;
    }
}