.header-arrow{
    position: absolute;
    left: 20px;
    top: 25px;
    font-size: 23px;
    color: $texte-secondaire;
}

.miniature{
    width: 100%;
    height: 300px;
    position: relative;
    padding: 0;

    &__image{
        overflow: hidden;

        & img{
            object-fit: cover;
            width: 100%;
            height: 300px;
        }
    }

    &__titre{
        font-family: $font-titre;
        width: 100%;
        border-radius: 50px 50px 0 0;
        position: absolute;
        background-color: $fond-secondaire;      
        height: 75px;
        bottom: -2px;
    }

    &__container{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding: 10px $marge-bordure-hor;
        position: absolute;
        bottom: -10px;
        font-size: 20px;

        & i{
            margin-left: auto;
            margin-right: 15px;
            font-size: 25px;
        }
    }
}

.menu{
    background: $fond-secondaire;
    width: 100%;
    padding: 40px $marge-bordure-hor;
    text-transform: uppercase;
    font-weight: 0;
    font-size: 17px;

    &__titre{
        user-select: none;
        color: $texte-tertiaire;
        padding-bottom: 10px;
        font-weight: 400;
        
        &::before{
            content : "";
            position: absolute;
            left    : 0;
            top: 25px;
            height  : 1px;
            width   : 40px;
            border-bottom:3px solid $couleur-tertiaire;
        }
    }

    &__card-block{
        position: relative;
        margin-top: 50px;

        &:nth-child(1){
        margin-top: 0px;
        }
    }

    &__card-container {
        user-select: none;
    
        & .card-menu{
            @for $i from 1 to $nombre-plats-max + 1{ //+1 pour décalage index
                &:nth-child(#{$i}) {
                    animation: fadeIn ease 1s $i * 0.1s forwards;
                }
            }
        }
    }

    & .btn{
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 170px;
        text-transform: none;
        font-size: 13px;
    }
}

.card-menu{
    height: 65px;
}

/* ---------------------------------------- */

/* ---------- TABLETTE + DESKTOP ---------- */

/* ---------------------------------------- */

@media screen and (min-width: $break-tablette){
    .menu{
        &__card-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}