@mixin icon($color, $size){
    color: $color;
    font-size: $size;
}

@mixin card($height){
    @if ($height > 0)
    {
        height: $height;
    }
    display: flex;
    align-items: center;
    margin-top: 25px;
    box-shadow: 1px 4px 6px #ccc;
    border-radius: $card-border-radius;
}

@mixin card-image($height){
    @include card($height);

    &__image-crop{
        overflow: hidden;

        & img{
            position: relative;
            object-fit: cover;
            width: 100%;
        }
    }
}