@mixin icon($color, $size){
    color: $color;
    font-size: $size;
}

@mixin card{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 25px;
    box-shadow: 1px 4px 6px #ddd;
    border-radius: $card-border-radius;
}