//Couleurs
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

$fond-defaut: #ececec;
$fond-secondaire: #f4f4f4;
$fond-tertiaire: #f9f9f9;

$texte-secondaire: #444444;
$texte-tertiaire: #797979;

//Polices
$font-defaut: 'Roboto', sans-serif;
$font-titre: 'Shrikhand', cursive;

//Components
$card-border-radius: 15px;

//Index
$marge-logo_texte: 18px;
$margin-fonctionnement_row: 20px;