//Couleurs
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

$fond-defaut: #ececec;
$fond-secondaire: #f4f4f4;
$fond-tertiaire: #f9f9f9;

$texte-secondaire: #444444;

//Polices
$font-defaut: 'Roboto', sans-serif;
$font-titre: 'Shrikhand', cursive;